@import 'https://fonts.googleapis.com/css?family=Open+Sans|Questrial|Roboto+Slab';

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #eee;
}

.logo-font {
    font-family: 'Questrial', sans-serif;
}

.logo-text-font {
    font-family: 'Roboto Slab', serif;
}

.app,
.app-container {
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.logo-title {
    margin: 10px 0;
    font-size: 2em;
}

.head, .foot {
    width: 100%;
}

.head {
    min-height: 64px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 16px;
    position: relative;
}

.head:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /*border-top: 1px solid #999;*/
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, .1));
    height: 5px;
}

.foot {
    background-color: #ddd;
    color: #666;
    flex: 0 0 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-content {
    margin: auto;
}

.page {
    width: 100%;
    flex: 1;
    display: flex;
}

.front-splash {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    min-height: 100vh;
}

.front-splash-left {
    flex: 1;
    background-color: #333;
    color: #fff;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.front-splash-left:after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 100%;
    box-sizing: border-box;
    border-right: 30vh solid transparent;
    border-bottom: 100vh solid #333;
}

.front-splash-center {
    position: absolute;
}

.front-splash-right {
    flex: 1;
    background-image: url("/images/drones/drone2.jpg");
    background-attachment: fixed;
}