@import 'https://fonts.googleapis.com/css?family=Open+Sans|Questrial|Roboto+Slab';

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #eee;
}

a {
    color: #81D4FA;
    text-decoration: none;
}

.logo-font, .logo-title {
    font-family: 'Questrial', sans-serif;
}

.logo-text-font {
    font-family: 'Roboto Slab', serif;
}

.app,
.app-container {
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.logo-title {
    font-size: 2em;
    color: #c49a6c;
    display: flex;
}

.logo-title .logo-img {
    height: 36px;
}

.logo-title-text {
    margin-left: 8px;
    letter-spacing: -.05em;
}

.logo-title-e {
    transform: rotate(-10deg);
    display: inline-block;
}

.head, .foot {
    width: 100%;
}

.head {
    min-height: 64px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}

.head:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /*border-top: 1px solid #999;*/
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, .1));
    height: 5px;
    z-index: 1;
}

.foot {
    background-color: #ddd;
    color: #666;
    flex: 0 0 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-content {
    margin: auto;
}

.page {
    width: 100%;
    flex: 1;
    display: flex;
}

.front-splash {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    flex: 1;
    min-height: calc(100vh - 64px);
    background-image: url("/images/web/material.svg");
}

.front-splash-left {
    flex: 1;
    background-color: #231F20;
    background-color: transparent;
    color: #fff;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    box-sizing: border-box;
}

.front-splash-left > p {
    padding: 16px 80px 64px 16px;
    box-sizing: border-box;
    line-height: 28px;
    margin: 0 auto;
    max-width: 512px;
}

.front-splash-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}

.front-splash-center > img {
    max-width: 180px;
    min-width: 100px;
    width: 16vw;
}

.front-splash-right {
    flex: 1;
    overflow: hidden;
    position: relative;
    left: 15vh;
    transform: skewX(16.7deg); /* 90 - atan(10/3) */
    box-shadow: 0 0 16px #000;
}

.front-splash-right:after {
    content: "";
    display: block;
    position: absolute;
    left: -15vh;
    height: 100%;
    width: 100%;
    transform: skewX(-16.7deg); /* 90 - atan(10/3) */
    background-image: url("/images/drones/drone2.jpg");
    background-size: cover;
    background-position: center;
}

@media (max-height: 484px) {
    .front-splash-right {
        left: 72.6px;
    }

    .front-splash-right:after {
        left: -72.6px;
    }

    .front-splash {
        min-height: 420px;
    }
}

@media (min-height: 704px) {
    .front-splash-right {
        left: 105.6px;
    }

    .front-splash-right:after {
        left: -105.6px;
    }

    .front-splash {
        min-height: 640px;
        max-height: 640px;
    }
}

@media (max-width: 560px) {
    .front-splash-left > p {
        padding: 16px;
        padding-top: 80px;
        text-align: center;
    }

    .front-splash-left {
        min-height: auto;
        display: block;
        order: 2;
        flex: 0;
    }

    .front-splash-center {
        position: static;
		text-align: center;
        margin: auto;
        top: 50%;
        margin-top: -70px;
        margin-bottom: -70px;
        order: 1;
        left: 50%;
        transform: translateX(0) translateY(0);
    }

    .front-splash {
        flex-direction: column;
        min-height: calc(100vh - 64px);
    }

    .front-splash-right {
        flex: 1 0 calc(100px + 50vw);
        left: 0;
        top: -30vw;
        transform: skewY(30deg) skewX(0);
    }

    .front-splash-right:after {
        left: 0;
        top: 30vw;
        height: 100%;
        transform: skewY(-30deg) skewX(0);
    }
}

@media (max-width: 560px) and (min-height: 960px) {
    .front-splash {
        min-height: 896px;
    }

    .front-splash-left > p {
        min-height: 340px;
    }
}

@media (max-width: 560px) and (min-aspect-ratio: 1 / 1) {
    .front-splash-right:after,
    .front-splash-right {
        top: 0;
        transform: skewY(0) skewX(0);
    }

    .front-splash-right {
        flex-basis: 160px;
    }
}
