@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #eee;
    background-image: radial-gradient(#fff, #ddd, #aaa, #666);
    background-size: 100vh 100vh;
    background-position: center;
}

@media (min-aspect-ratio: 1/1) {
    body {
        background-size: 100vw 100vw;
    }
}

.app,
.app-container {
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    padding-bottom: 6em;
}

.logo-title {
    font-size: 2em;
    margin: 10px 0;
}
